/* You can add global styles to this file, and also import other style files */
a {
    color: whitesmoke;
}
span {
    color: whitesmoke;
}

a:hover {
    color: lightblue;
}
span:hover {
    color: lightblue;
}
