<div class="page-container">
  <ion-header [translucent]="true">
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">shopping-lists</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-grid>
      <ion-row class="shoLi-row">
        <ion-col size="12" size-md="8">
          <app-shopping-list [shoppingList]="selShoLi"></app-shopping-list>
        </ion-col>
        <ion-col size="12" size-md="4">
          <app-tool-card></app-tool-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <app-shopping-lists-table class="table" [shoppingLists]="shoppingLists" (selShoLi)="SetSelShoLi($event)"></app-shopping-lists-table>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</div>
