.flex-container {
  display: flex;
  padding: 1%;
}

.flex-child {
  border-radius: 10px;
  background-color: white;
  border: solid;
  border-color: grey;
  height: 60vh;
}

  .flex-child:first-child {
/*    background-color: darkgray;
    border-color: transparent;*/
    padding: 1vh 1vw 1vh 1vw;
    flex: 0 0 48vw;
  }

  .flex-child:last-child {
/*    background-color: darkgray;
    border-color: transparent;*/
    padding: 1vh 1vw 1vh 1vw;
    margin-left: 1vw;
    flex: 0 0 25vw;
  }

.selection {

}
