<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar class="ion-padding">
          <div class="toolbar-container">
            <ion-icon name="heart-half"></ion-icon>
            <ion-title class="header-title">NutriBase</ion-title>
          </div>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-list id="inbox-list" class="ion-padding">
          <ion-list-header><h3>Lifestyle menu</h3></ion-list-header>
          <ion-note>Restart your life!</ion-note>
          @for (p of appPages; track p; let i = $index) {
            <ion-menu-toggle auto-hide="false">
              <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
                <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          }
        </ion-list>
        <div class="profile-container">
          <ion-avatar class="ion-padding">
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <p>Profile</p>
        </div>
      </ion-content>
    </ion-menu>
    <div class="ion-page" id="main-content">
      <ion-header>
        <app-nav></app-nav>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-router-outlet></ion-router-outlet>
      </ion-content>
    </div>
  </ion-split-pane>
</ion-app>
