.router-container {
    width: 100vw;
}

.flex-container {
  display: flex;
  margin-top: 70px;
  padding: 1vh 1vw 1vh 1vw;
  height: 100vh;
  width: 100%;
}

.flex-child {
  border-radius: 10px;
/*  background-color: white;*/
  border: solid;
  border-color: black;
}

.flex-child:first-child {
  border-color: transparent;
}

.flex-child:last-child {
  border-color: transparent;
  margin-left: 10px;
  flex: 0 0 76vw;
}

