// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
ion-toolbar {
    height: 10vh;
    min-height: 60px;
    max-height: 100px;
    align-content: center;
    // --background: var(--ion-color-light);
    // --color: var(--ion-color-dark);
    --background: lightgray;
    --color: var(--ion-color-dark);
}

/* Für Webkit-Browser (Chrome, Safari, Edge) */
ion-content::part(scroll)::-webkit-scrollbar {
    display: none;
}
