.d-flex {
  border-radius: 10px;
  width: 24vw;
  height: 88vh;
}
.nav {
  width: 20vw;
  margin: 1vw 1vw 1vw 1vw;
}

li {
    padding-left: 1vw;
}

img {
  width: 2vw;
  height: auto;
  margin-bottom: 2vh;
}

span {
  font-size: 2vw;
  margin-left: 1vw;
}
