<ul class="nav nav-pills flex-column mb-auto flex-grow-1 bg-primary">
  <li class="nav-item">
    <a routerLink="/Home" routerLinkActive="true" aria-current="page" class="nav-link">
      <img class="bi pe-none me-2" src="/pictures/Home.png" alt="Home">
      <span>Home</span>
    </a>
  </li>
  <hr>
  <li class="nav-item">
    <a routerLink="/Shopping" routerLinkActive="true" class="nav-link">
      <img class="bi pe-none me-2" src="/pictures/ShoppingCart.png" alt="Shopping cart">
      <span>Shopping Lists</span>
    </a>
  </li>
  <li class="nav-item">
    <a routerLink="/Recipes" routerLinkActive="true" class="nav-link">
      <img class="bi pe-none me-2" src="/pictures/Recipe.png" alt="Shopping cart">
      <span>Recipes</span>
    </a>
  </li>
</ul>