<div class="main-container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Datum</th>
        <th scope="col">Name</th>
        <th scope="col">Products</th>
        <th scope="col">Price</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr>
        <th scope="row">09.02.2025</th>
        <td>Shopping List 1</td>
        <td>6</td>
        <td>23,50€</td>
        <td>
          <button class="btn btn-primary">Select</button>
        </td>
      </tr>
      <tr>
        <th scope="row">04.02.2025</th>
        <td>Shopping List 2</td>
        <td>10</td>
        <td>20,50€</td>
        <td>
          <button class="btn btn-primary">Select</button>
        </td>
      </tr>
      <tr>
        <th scope="row">03.02.2025</th>
        <td>Shopping List 3</td>
        <td>7</td>
        <td>14,00€</td>
        <td>
          <button class="btn btn-danger" (click)="deleteShoppingList()">Select</button>
        </td>
      </tr> -->
      @for (item of shoppingLists(); track $index) {
        <tr (click)="selectShoppingList(item)">
          <th scope="row">{{item.creationDate}}</th>
          <td>{{item.definition}}</td>
          <td>{{item.goodsNumber}}</td>
          <td>{{item.totalCost}}</td>
        </tr>
      }
    </tbody>
  </table>
</div>

