<nav class="navbar fixed-top bg-primary">
  <div class="container-fluid d-flex justify-content-between">
    <a href="/" class="d-flex align-items-center">
      <img class="title-img" src="/pictures/Logo.png" alt="Logo">
      <span class="title">Nutrition Base</span>
    </a>


    <ul class="nav nav-tabs me-auto mb-2 mb-md-0">
      <!--@if (accountService.currentUser()) {-->
      <!--<li class="nav-item">
        <a href="#" class="nav-link active" aria-current="page">
          <img class="bi pe-none me-2" width="20vh" height="20vh" src="/pictures/Home.png" alt="Home">
          Home
        </a>
      </li>-->
      <!--<li class="nav-item">
        <a href="#" class="nav-link fw-bold text-white">-->
          <!--<img class="bi pe-none me-2" width="20vh" height="20vh" src="/pictures/ShoppingCart.png" alt="Shopping cart">-->
          <!--Shopping lists
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link fw-bold text-white">-->
          <!--<img class="bi pe-none me-2" width="20vh" height="20vh" src="/pictures/Recipe.png" alt="Shopping cart">-->
          <!--Recipes
        </a>
      </li>-->
      <!--}-->
    </ul>

    <!-- @if (accountService.currentUser()) { -->
    <div dropdown class="dropdown">
      <a dropdownToggle class="dropdown-toggle text-decoration-none">
        Welcome
        <!-- {{accountService.currentUser()?.username | titlecase}} -->
      </a>
      <div *dropdownMenu class="dropdown-menu">
        <a class="dropdown-item">Edit profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="onLogout()">Logout</a>
      </div>
    </div>
    <!--}-->
    <!--@if (!accountService.currentUser()) {-->
    <!--<form #loginForm="ngForm" (ngSubmit)="onLogin()" class="d-flex" autocomplete="off">
      <input name="username" [(ngModel)]="model.username" class="form-control me-2" placeholder="Username">
      <input name="password" [(ngModel)]="model.password" class="form-control me-2" placeholder="Password"
             type="password">
      <button class="btn btn-outline-success" type="submit">Login</button>
    </form>-->
    <form #loginForm="ngForm" class="d-flex" autocomplete="off">
      <input name="username" class="form-control" placeholder="Username">
      <input name="password" class="form-control" placeholder="Password"
             type="password">
      <button class="btn  btn-success" type="submit">Login</button>
    </form>
    <!--}-->
  </div>
</nav>
